h1 {
    color: green;
  }

   .note {
    color: #4d1010;
    padding-top: 3px;
    font-size: 1.2rem;
    
  }

  .error {
    color: red;
    background: lightgrey;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }